{% extends 'CityVladimir/base.html' %}
{% load static %}
{% block content %}
<h1>Город Владимир</h1>
<div class="himg">
    <img src="{% static 'images/7029.jpg' %}">
</div>
<h2>Наш город</h2>
<div class="block">
    {% for p in city %}
    <div class="element">
        <div class="img"><img src="{{p.image.url}}" alt=""></div>
        <div class="text">
            <h2><a href="{{p.url}}" target="_blank">{{p.title}}</a></h2>
            <p>{{p.description}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}